.notif {
  width: 80%;
  height: 150px;
  margin: 40px auto;
  background: #39cccc;
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.3);
  overflow: hidden;
  color: white;
}

.lateral-ad{
  float: left;
  width: 100px;
  height: 100%;
}

.show-icon{
  margin-top: 20px;
  .fa.fa-thumbs-o-up.fa-5x{
    font-size: 6em !important;
  }
}